{% if request.path == '/health_center/' %}
  <li class="md:border-white items-center border-l-4 pl-2 border-green-500">
    <a
      href="#"
      class="md:text-white text-xs py-3 font-bold block text-green-500"
    >
      <i class="fas fa-home mr-2 text-sm"></i>
      Home
    </a>
  </li>
{% else %}
  <li class="items-center pl-3">
    <a
      href="{% url 'health_center:home' %}"
      class="text-xs py-3 font-bold block"
    >
      <i class="fas fa-home mr-2 text-sm"></i>
      Home
    </a>
  </li>
{% endif %}

{% if 'profile/' in request.path %}
  <li class="md:border-white items-center border-l-4 pl-2 border-green-500">
    <a
      href="#"
      class="md:text-white text-xs py-3 font-bold block text-green-500"
    >
      <i class="fas fa-user-edit mr-2 text-sm"></i>
      Profile
    </a>
  </li>
{% else %}
  <li class="items-center pl-3">
    <a
      href="{% url 'health_center:profile' %}"
      class="text-xs py-3 font-bold block"
    >
      <i class="fas fa-user-edit mr-2 text-sm"></i>
      Profile
    </a>
  </li>
{% endif %}

{% if 'patients/' in request.path %}
  <li class="md:border-white items-center border-l-4 pl-2 border-green-500">
    <a
      href="{% url 'health_center:patient_list' %}"
      class="md:text-white text-xs py-3 font-bold block text-green-500"
    >
      <i class="fas fa-bed mr-2 text-sm"></i>
      Patients
    </a>
  </li>
{% else %}
  <li class="items-center pl-3">
    <a
      href="{% url 'health_center:patient_list' %}"
      class="text-xs py-3 font-bold block"
    >
      <i class="fas fa-bed mr-2 text-sm"></i>
      Patients
    </a>
  </li>
{% endif %}

{% if 'schedule/' in request.path %}
  <li class="md:border-white items-center border-l-4 pl-2 border-green-500">
    <a
      href="{% url 'health_center:visit_list' %}"
      class="md:text-white text-xs py-3 font-bold block text-green-500"
    >
      <i class="fas fa-clock mr-2 text-sm"></i>
      Visit Schedule
    </a>
  </li>
{% else %}
  <li class="items-center pl-3">
    <a
      href="{% url 'health_center:visit_list' %}"
      class="text-xs py-3 font-bold block"
    >
      <i class="fas fa-clock mr-2 text-sm"></i>
      Visit Schedule
    </a>
  </li>
{% endif %}
