{% extends 'partials/dashboard/base.html' %}
{% block title %}Schedule - {{ request.user.get_role_display }}{% endblock %}
{% block sidebar %}
  {% include 'health_center/partials/sidebar.html' %}
{% endblock %}
{% block dashboard_content %}
  <div class="flex flex-wrap justify-center">
    <div class="flex w-full md:w-1/2">
      <h2 class="text-4xl">Schedule Visit</h2>
    </div>
  </div>
  <div class="flex my-8 justify-center">
    <div class="w-full md:w-1/2">
      <form method="post">
        {% csrf_token %}
        {% if form.errors %}
          {% for error in form.non_field_errors %}
            <p> {{ error }} </p>
          {% endfor %}
        {% endif %}

        <div class="grid w-full mb-6 gap-2">
          <div class="w-full mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                   for="{{ form.date.id_for_label }}">
              {{ form.date.label }}
            </label>
            {{ form.date }}
            <p class="text-gray-500 my-2 mx-6">{{ form.date.errors }}</p>
          </div>
          <div class="w-full mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                   for="{{ form.duration.id_for_label }}">
              {{ form.duration.label }}
            </label>
            <div class="relative">
              {{ form.duration }}
            </div>
            <p class="text-gray-500 my-2 mx-6">{{ form.duration.errors }}</p>
          </div>
        </div>
        <!-- submit button -->
        <div class="flex">
          <button
            class="bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-12 rounded-lg focus:shadow-outline "
            type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
